@charset "UTF-8";


body {
    background-image: url('imagens/wallpaper001.jpg');
}


div.quadrado {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    background-color: cadetblue;
    
}


div#q1 {
    background-color: aqua;
    background-image: url('imagens/pattern001.png');
    background-repeat: no-repeat;


}


div#q2 {
background-image: url('imagens/pattern003.png');



}


div#q3 {
background-image: linear-gradient(to left, aqua, rgb(226, 73, 226));

}

